.content-container {
  width: 75%;
  margin: auto;
  overflow: hidden;
}
.content-container p {
  line-height: 25px;
  color: #333;
}
.image-container img {
  vertical-align: middle;
}
.content-container img {
  float: right;
  border-radius: 10px;
  display: block;
  margin-left: 30px;
  height: auto;
  margin-bottom: 10px;
  max-width: 100%;
  width: 500px;
  height: 350px;
}

.sections-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 30px auto;
}

.sections-container div {
  width: 50%;
  text-align: center;
}

.sections-container img {
  max-height: 250px;
  width: auto;
  max-width: 90%;
  border-radius: 5px;
  display: block;
  margin: auto;
}

hr {
  border-top: 1px solid #bbb;
  width: 90%;
  border-bottom: 0px;
}

@media screen and (max-width: 1210px) {
  .content-container img {
    float: initial;
    margin: auto;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .sections-container {
    width: 90%;
    margin-bottom: 10px;
  }

  .sections-container div {
    max-height: 400px;
    max-width: 100%;
    margin-bottom: 10px;
    width: 100%;
  }

  .sections-container h2 {
    margin: 5px auto 20px;
    margin-bottom: 10px;
  }
}
