.content-container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
}

.content-container h3 {
  margin-top: 4px;
}

.image-container {
  width: 25%;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1210px) {
  .content-container img {
    float: initial;
    margin: auto;
    display: block;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .sections-container {
    display: initial;
    width: 90%;
  }

  .sections-container div {
    max-height: 400px;
    max-width: 100%;
    width: 100%;
  }

  .sections-container h2 {
    margin: 5px auto 20px;
  }
}
