.content-container {
  width: 75%;
  margin: auto;
  overflow: hidden;
}

.content-container p {
  line-height: 25px;
  color: #333;
}

.image-container h3 {
  margin-top: 10px;
}

.image-container {
  width: 25%;
  margin: 12%;
  margin-top: 0px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  position: relative;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
}
.sections-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 30px auto;
}
.sections-container div {
  max-height: 400px;
  max-width: 100%;
  width: 100%;
  text-align: center;
}
.sections-container img {
  max-height: 250px;
  width: auto;
  max-width: 90%;
  border-radius: 5px;
  display: block;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .content-container {
    display: block;
  }
  @media screen and (max-width: 1210px) {
    .image-container {
      float: initial;
      margin: auto;
      display: block;
      height: auto;
      width: 100%;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 350px) and (max-width: 480px) {
    .image-container img {
      display: inline-block;
      width: 300px;
    }
    .image-container p {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    .image-container {
      width: 90%;
    }
  }
}
