body {
  background-color: #f8f8f8;
}

.administrator-header {
  padding: 10px 0;
  background-color: #fff;
}

.administrator-header img {
  height: 80px;
  display: block;
  margin: auto;
}
.logout-img {
  margin-top: 380px;
  padding-left: 80px;
  height: 40px;
  cursor: pointer;
}
.title-row {
  background-color: #1a3e7a;
  transition: 0.5s;
}

.open-btn {
  height: 40px;
  width: 40px;
  background-color: #1a3e7a;
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 3px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}

.side-menu {
  height: 100%;
  width: 200px;
  margin-left: -200px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #0a2e6a;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-menu a {
  color: #ddd;
  display: block;
}

.menu-section {
  padding-bottom: 10px;
}

.menu-title {
  font-weight: 600;
  font-size: 25px;
  padding: 8px 8px 3px 32px;
  cursor: default;
}

.menu-text {
  font-size: 15px;
  padding: 2px 8px 2px 32px;
}

.menu-text:hover {
  color: #fff;
}

.side-menu .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
