.palmares-content {
  width: 90%;
  margin: 30px auto;
}

.trophy-container {
  display: table;
  width: 100%;
  margin-top: 40px;
}

.trophy {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.trophy-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.trophy-img img {
  width: 320px;
  border-radius: 5px;
}

.trophy-text {
  width: 320px;
  margin: auto;
}

.trophy-img-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.trophy-img-wrapper .edit-img {
  position: absolute;
  height: 30px;
  width: auto;
  top: 0;
  right: -35px;
  cursor: pointer;
}

.trophy-img-wrapper .bin-img {
  position: absolute;
  height: 30px;
  width: auto;
  top: 45px;
  right: -36px;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .trophy-img img {
    width: 250px;
  }

  .trophy-text {
    width: 250px;
  }
}

@media screen and (max-width: 675px) {
  .palmares-content {
    width: 80%;
    margin: 30px auto;
  }

  .trophy {
    display: block;
    margin: auto;
    width: 100%;
  }

  .trophy-img img {
    width: 60%;
  }

  .trophy-text {
    width: 90%;
  }

  .trophy-text h3 {
    margin: 7px auto;
  }

  .trophy-text p {
    margin: 7px auto 40px;
  }

  .trophy-img-wrapper .edit-img {
    top: 0;
    right: 10%;
  }

  .trophy-img-wrapper .bin-img {
    top: 45px;
    right: 10%;
  }
}
