.news-col {
  padding: 20px;
}

.news-container {
  width: 75%;
  display: table;
  margin-bottom: 30px;
}

.news-container h1 {
  text-align: left;
}

.news-col {
  position: relative;
}

.news-col .edit-img {
  position: absolute;
  height: 30px;
  top: 15px;
  right: 0px;
  cursor: pointer;
}

.news-col .bin-img {
  position: absolute;
  height: 30px;
  top: 60px;
  right: -1px;
  cursor: pointer;
}
