.content-container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img-container {
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 30%;
  margin: 20px 0;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .img-container {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .img-container {
    width: 90%;
  }
}

.img-container .bin-img {
  position: absolute;
  height: 40px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 100;
  border: transparent solid 3px;
}

.img-container .bin-img:hover {
  border: #f00 solid 3px;
}
