.content-container {
  width: 75%;
  margin: auto;
}

.normative {
  margin-bottom: 80px;
}

.normative-content {
  display: flex;
  margin-top: 30px;
}

.normative-img {
  margin-right: 60px;
}

.normative-img img {
  width: 100%;
  border-radius: 8px;
  min-width: 200px;
  max-width: 300px;
}

.normative-text {
  width: 100%;
}

@media screen and (max-width: 720px) {
  .normative-content {
    display: block;
  }

  .normative-text h3 {
    margin-top: 10px;
    margin-bottom: -10px;
  }
}
