.palmares-content {
  width: 75%;
  margin: 30px auto;
}

.trophy-container {
  display: table;
  width: 100%;
  margin-top: 40px;
}

.trophy {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.trophy-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.trophy-img img {
  width: 360px;
  border-radius: 10px;
}

.trophy-text {
  width: 360px;
  margin: auto;
}
@media screen and (max-width: 450px) {
  .trophy-container img {
    height: 200px;
    width: 200px;
  }
}
@media screen and (max-width: 1100px) {
  .trophy-img img {
    width: 300px;
  }

  .trophy-text {
    width: 300px;
  }
}

@media screen and (max-width: 900px) and (max-width: 375px) {
  .palmares-content {
    width: 80%;
    margin: 30px auto;
  }

  .trophy {
    display: block;
    margin: auto;
    width: 100%;
  }

  .trophy-img img {
    width: 60%;
  }

  .trophy-text {
    width: 90%;
  }

  .trophy-text h3 {
    margin: 7px auto;
  }

  .trophy-text p {
    margin: 7px auto 40px;
  }
}
