.register-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 80%;
  margin: 20px auto;
  border: black 1px solid;
  border-radius: 10px;
  background-color: #e7e7e7;
}

.register-panel:hover {
  background-color: #e7e7ff;
  border: #00f solid 1px;
}

.register-panel p {
  display: block;
  font-size: 30px;
  font-weight: 600;
  float: inline-end;
}

@media screen and (max-width: 600px) {
  .register-panel p {
    font-size: 25px;
  }
}
