html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.fab.fa-facebook-square {
  color: #3b5998;
}

.fab.fa-youtube {
  color: #ff0000;
}

.fab.fa-instagram-square {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

/********** Rows and columns **********/
.container {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media screen and (max-width: 680px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
  }
}

/********** Menu **********/
/* Header */
.header-row {
  background-color: #fff;
  margin: 10px 0 5px;
}

.header-col {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header-col img {
  height: 100px;
}

.header-icon-wrapper {
  margin-bottom: 10px;
}

.header-col .fab {
  margin: 4px;
  font-size: 27px;
}

.header-col .fa-user {
  font-size: 50px;
  margin-left: 20px;
}

@media screen and (max-width: 400px) {
  .header-col img {
    height: auto;
    width: 100%;
  }
}
/* Navbar */
.nav-row {
  background-color: #fff;
  margin: 5px 0 10px;
}

.nav-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.nav-col a {
  font-size: 20px;
  text-transform: uppercase;
  color: #555;
  min-height: 16px;
  padding: 12px 18px;
}

.nav-col a:hover {
  background-color: #0080ff;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0.8px 0.4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0.8px 0.4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0.8px 0.4px rgba(0, 0, 0, 0.5);
}

.nav-btn {
  display: block;
  border-radius: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 200px;
  z-index: 100;
  background-color: #f0f0f0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0.8px 0.4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0.8px 0.4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0.8px 0.4px rgba(0, 0, 0, 0.5);
}

.dropdown a {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-icon {
  display: none;
}

/********** Responsive menu **********/
@media screen and (max-width: 850px) {
  .header-col,
  .nav-col {
    width: 100%;
  }

  .header-col {
    margin-left: 20px;
    margin-right: 20px;
  }

  .dropdown-content {
    width: 100%;
  }

  .nav-col {
    justify-content: space-between;
  }

  .nav-col a:hover {
    background: none;
    color: initial;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .nav-col .nav-btn {
    color: #0d52a1;
    border-radius: 0;
  }

  .nav-col a {
    text-transform: none;
    padding-left: 30px;
  }

  .header-col .fa-user {
    font-size: 40px;
    margin-left: 20px;
  }

  /* Closed menu */
  .nav-col a,
  .nav-col .dropdown {
    display: none;
  }

  .nav-col a:first-child,
  .nav-col .dropdown-icon {
    display: block;
  }

  /* Open menu */
  .responsive a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    display: block;
    position: relative;
  }

  .responsive .dropdown-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .responsive a {
    display: block;
  }

  .responsive .dropdown {
    display: block;
  }

  .responsive .dropdown-content {
    position: static;
    display: block;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .responsive .dropdown-content a {
    padding-left: 70px;
  }

  @media screen and (max-width: 600px) {
    .header-row .fab {
      display: none;
    }

    .header-col {
      align-items: center;
    }
  }
}

/********** Title **********/
.title-row {
  background-color: #003e71;
}

.title-col {
  display: flex;
  justify-content: space-between;
  color: white;
}

.title-row {
  padding: 20px 0;
}

.title-main {
  width: 100%;
  font-size: 30px;
  font-weight: 500;
}

.title-path {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.title-path * {
  margin-right: 8px;
}

.title-col a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  .title-col {
    width: 50%;
  }

  .title-empty-col {
    display: none;
  }

  .title-main {
    margin-left: 20px;
  }

  .title-path {
    margin-right: 10px;
  }

  @media screen and (max-width: 690px) {
    .title-col {
      width: 100%;
    }

    .title-path {
      justify-content: start;
    }

    .title-path {
      padding-top: 5px;
      margin-right: 0px;
      margin-left: 20px;
    }
  }
}

/********** Slider **********/
.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}

.slides {
  width: 300%;
  display: flex;
}

.slide {
  height: 500px;
  width: 33.33%;
}

.slide-main {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/slider1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-text-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-text {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.slider-btns {
  position: absolute;
  width: 100%;
  bottom: 7%;
  display: flex;
  justify-content: center;
}

.slide-btn {
  background-color: transparent;
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.slide-btn:not(:last-child) {
  margin-right: 7px;
}

#slide-btn-1 {
  background: #40d3dc;
}

.slide-left {
  margin-left: -33.33%;
}

@media screen and (max-width: 1050px) {
  .slide {
    height: 400px;
  }

  .slide-text {
    font-size: 55px;
  }

  @media screen and (max-width: 850px) {
    .slide {
      height: 300px;
    }

    .slide-text {
      font-size: 50px;
    }

    @media screen and (max-width: 550px) {
      .slide {
        height: 240px;
      }

      .slide-text {
        font-size: 40px;
      }
    }
  }
}

/********** News **********/
.news-container {
  width: 90%;
  display: table;
  margin-bottom: 30px;
}

.news-container h1 {
  text-align: center;
}

.news-container h4 {
  margin-top: 0;
}

.news-row {
  display: flex;
  flex-wrap: wrap;
}

.news-col {
  padding: 0 20px;
  margin-top: 25px;
  width: 50%;
}

.img-wrap {
  float: left;
  display: block;
}

.news-image {
  padding-right: 15px;
  display: table-cell;
  width: 200px;
}

.news-text {
  display: table-cell;
  vertical-align: top;
}

.news-text h5 {
  margin: 0;
  color: #555;
}

.news-text p {
  color: #666;
}

.news-text a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  background-color: #104fa7;
  padding: 8px 12px;
  border-radius: 4px;
  -webkit-box-shadow: 0.8px 0.8px 2px 1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0.8px 0.8px 2px 1px rgba(0, 0, 0, 0.34);
  box-shadow: 0.8px 0.8px 2px 1px rgba(0, 0, 0, 0.34);
  cursor: pointer;
}

.news-text a:hover {
  background-color: #0080ff;
}

@media screen and (max-width: 1050px) {
  .news-col {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .news-col {
      width: 100%;
      margin-top: 30px;
    }

    .img-wrap {
      width: 100%;
    }

    .news-image {
      max-height: 350px;
      width: auto;
      max-width: 100%;
    }

    .news-text h5 {
      margin-top: 10px;
    }

    .news-text h3 {
      margin: 5px 0 10px;
    }

    .news-text p {
      margin-top: 5px;
    }
  }
}

/********** Callout **********/
.callout {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/assets/gim1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  height: 300px;
  text-align: center;
  background-color: black;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .callout {
    background-size: 250%;
  }
}
@media screen and (max-width: 450px) {
  .callout p {
    display: none;
    width: 0%;
    height: 0px;
  }
  .callout-btn-section {
    padding-top: 0px;
    padding-bottom: 15px;
  }
}

.callout h1 {
  color: #fff;
  text-align: center;
}

.callout p {
  color: #fff;
  text-align: center;
}

.callout-btn-section {
  display: block;
  margin: auto;
  padding-top: 80px;
}

.callout-btn1 {
  background-color: #fff;
  color: #111;
  font-size: 22px;
  font-weight: 700;
  padding: 15px;
  border-radius: 4px;
  margin: 12px;
}

.callout-btn2 {
  background-color: #104fa7;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  padding: 15px;
  border-radius: 4px;
  margin: 12px;
}

/********** Footer **********/
.footer {
  background-color: #eee;
  text-align: center;
  position: relative;
}

.footer-col {
  padding: 0 20px;
}

.footer-col a:not(.fab) {
  text-decoration: underline;
  color: #00f;
  cursor: pointer;
}

.footer-col a:not(.fab):hover {
  color: #337;
}

.footer-col h1 {
  text-align: center;
}

.footer-col p {
  color: #333;
}

.footer-col .fab {
  margin: 4px;
  font-size: 27px;
}

.footer-copyright-col p {
  color: #888;
  text-align: start;
}

#goback-btn {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  height: 45px;
  width: 45px;
  border: none;
  outline: none;
  background-color: #104fa7;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
}

#goback-btn:hover {
  background-color: #00f;
}

@media screen and (max-width: 750px) {
  .footer-col {
    width: 90%;
    margin: auto;
  }
}
