/********** Login **********/
/* body {
  background: url(assets/gim1.jpeg) no-repeat center center fixed;
  background-size: cover;
}
.main-login {
  margin: 0 auto;
  margin-top: 25%;
  padding: 0;
}
.modal-content {
  background-color: aliceblue;
  opacity: 0.95;
  padding: 0 20px;
  box-shadow: 0px 0px 3px #848484;
}
.login-img {
  margin-top: -50px;
  margin-top: 35px;
}
.login.img img {
  width: 100px;
  height: 10000px;
  padding-right: 20px;
}
 */
body {
  width: 100%;
  height: 700px;
  background-image: url(../assets.logo_ritmica.png);
  background-repeat: no repeat;
  background-size: cover;
}
